<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tamagotchi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <tamagotchi.Properties.Settings>
            <setting name="balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="health" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="satiety" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="joy" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="fatigue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="disease" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="avatar" serializeAs="String">
                <value>-1</value>
            </setting>
        </tamagotchi.Properties.Settings>
    </userSettings>
</configuration> 